/* colours:
background-color: #3e4ce7;
background-color: #f6f6f6;
color: #23272a;
*/

@font-face {
  font-family: whitney-light;
  src: url("whitney-light.otf") format("opentype");
}

*{
  margin: 0;
  padding: 0;
}

header {
  background-color: #3e4ce7;
}

nav, a button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 22px 40px;
  background-color: #3e4ce7;
}

#navbar-links {
  display: inline;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
}

.navbar-link {
  text-decoration: none;
  font: 16px whitney-light;
  font-weight: bolder;
  color: #ffffff;
}

.navbar-link:hover {
  text-decoration: underline #ffffff;
}

#navbar-button {
  font-size: 14px;
  font-family: whitney-light, sans-serif;
  font-weight: 900;
  color: #23272a;
  background-color: #ffffff;
  cursor: pointer;
  padding: 7px 16px;
  margin: 0px 16px 0px 0px;
  border: none;
  border-radius: 50px;
  height: 28pt;
}

button {
  transition: 0.2s;
}

button:hover {
  box-shadow: 0px 10px 12px rgba(49, 49, 49, 0.3);
  color: #9b59b6;
  transition: box-shadow 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

h1 {
  padding-top: 75pt;
  text-align: center;
  font-size: 65px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  color: #ffffff
}

.banner-text {
  text-align: center;
  font-size: 20px;
  font-family: whitney-light;
  font-weight: 500;
  color: #ffffff;
  margin-top: 40px
}

#download-for-windows-btn {
  font-size: 20px;
  font-family: whitney-light, sans-serif;
  font-weight: 900;
  color: #23272a;
  background-color: #ffffff;
  cursor: pointer;
  padding: 16px 32px;
  margin: 24px 24px 0px 0px;
  border: none;
  border-radius: 50px;
  height: 28pt;
}

#open-discord-browser-btn {
  font-size: 20px;
  font-family: whitney-light, sans-serif;
  font-weight: 900;
  color: #ffffff;
  background-color: #23272a;
  cursor: pointer;
  padding: 16px 32px;
  margin: 100px 0px 0px;
  border: none;
  border-radius: 50px;
  height: 28pt;
}

#open-discord-browser-btn:hover {
  background-color: rgba(49, 49, 49, 0.85);
  transition: background-color 0.2s ease-in-out;
}
