@font-face {
  font-family: whitney-light;
  src: url("whitney-light.otf") format("opentype");
}

*{
  margin: 0;
  padding: 0;
}

header {
  background-color: #3e4ce7;
  height: 571.88px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 23px;
  text-decoration: none;
  font: 16px whitney-light;
  font-weight: bolder;
  color: #ffffff;
}

#home-btn {
  margin-left: 0pt;
}

nav a {
  text-decoration: none;
  font: 16px whitney-light;
  font-weight: bolder;
  color: #ffffff;
}

#navbar-download {
  margin-left: 178pt;
}

#navbar-download, #navbar-nitro, #navbar-safety, #navbar-support, #navbar-blog, #navbar-careers {
  margin-right: 33pt;
}

#navbar-login-a {
  margin-left: 193pt;
}

#navbar-login-b {
  font-size: 14px;
  font-family: whitney-light, sans-serif;
  font-weight: 900;
  color: #23272a;
  background-color: #ffffff;
  cursor: pointer;
  padding: 7px 16px;
  margin: 0px 16px 0px 0px;
  border: none;
  border-radius: 50px;
  height: 28pt;
}

#navbar-links a {
  text-decoration: none;
  font: 16px whitney-light;
  font-weight: bolder;
  color: #ffffff;
}

nav a:hover {
  text-decoration: underline #ffffff;
}

header button {
  transition: 0.2s;
}

header button:hover {
  box-shadow: 0px 10px 12px rgba(49, 49, 49, 0.3);
  color: #9b59b6;
  transition: box-shadow 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

h1 {
  padding-top: 75pt;
  text-align: center;
  font-size: 65px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  color: #ffffff
}

header p {
  text-align: center;
  font-size: 20px;
  font-family: whitney-light;
  font-weight: 500;
  color: #ffffff;
  margin-top: 40px
}

#banner-btns {
  margin-top: 30pt;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#download-for-windows-btn {
  margin-right: 14pt;
  font-size: 20px;
  font-family: whitney-light, sans-serif;
  font-weight: 900;
  color: #23272a;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  height: 28pt;
}

#open-discord-browser-btn {
  font-size: 20px;
  font-family: whitney-light, sans-serif;
  font-weight: 900;
  color: #ffffff;
  background-color: #23272a;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  height: 28pt;
}

#open-discord-browser-btn:hover {
  background-color: rgba(49, 49, 49, 0.85);
  transition: background-color 0.2s ease-in-out;
}

#banner-background-imgs {
  position: absolute;
  display: none;
  justify-items: center;
}

#block1, #block2, #block3, #block4 {
  display: flex;
  justify-content: space-evenly;
}

#block1 h2, #block2 h2, #block3 h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30pt;
  color: #23272a
}

#block1 p, #block2 p, #block3 p {
  font-size: 20px;
  font-family: whitney-light;
  font-weight: 500;
  color: #232323
}

#block2 {
  background-color: whitesmoke;
}

#block3 {
  background-color: #ffffff;
}

#block4 {
  flex-direction: column;
  background-color: whitesmoke;
  align-items: center;
}

#block4 h2 {
  padding-top: 75pt;
  font-size: 65px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  color: #232323
}

#block4 p {
  padding-top: 20pt;
  font-size: 20px;
  font-family: whitney-light;
  font-weight: bolder;
  color: #232323
}

footer {
  background-color: #232323;
}

footer h3 {
  color: #3e4ce7;
  font-size: 45px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
}